// Colors

$primBlue: hsl(215, 51%, 70%);
$primCyan: hsl(178, 100%, 50%);

$darkBlue3: hsl(217, 54%, 11%); // main BG
$darkBlue2: hsl(216, 50%, 16%); // card BG
$darkBlue3: hsl(215, 32%, 27%); // Line
$secWhite: hsl(0, 0%, 100%);
